<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@@description">

    <link rel="icon" href="assets/img/favicon.ico">

    <title>@@title</title>

    <link href="assets/css/app.css" rel="stylesheet" />
</head>
